body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("img/Dating-Chat-Rooms.jpg");
}

header {
    margin-top: 0px;
    background-color: #333;
    color:darkgray;
    padding: 15px;
    text-align: center;
    width: 100%;

}
.header .logo{
    text-align: left;

}


.logo img {
    width: 100px; 
    height: auto; 
}

.logo{
    margin-top: -85px;
    margin-right: 50px;
}
form {
    /* background-color: #fff; */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin-top: 20px; /* Add margin to create space between header and forms */
}
/* Style for larger buttons */
.btn-large {
    display: flex;
    flex-direction:column;
    width: 120px;
    height: 50px;
}

.btn-large {
    padding: 10px 20px; /* Adjust padding to increase button size */
    font-size: 16px; /* Adjust font size if needed */
    margin: 5px; /* Optional margin between buttons */
    background-color:palevioletred; /* Button background color */
    color: white; /* Text color */
    border: none; /* Remove button border */
    border-radius: 10px; /* Optional: Rounded corners */
    cursor: pointer; /* Cursor style */
    text-decoration: none; /* Remove underlines for button links */
    display: inline-block; /* Ensure buttons appear in a line */
}

/* Hover effect for buttons */
.btn-large:hover {
    background-color: #45a049; /* Darker background color on hover */
}

/* Optional: Styling for the entire form */
.button-form {
    margin-top: 20px; /* Optional margin for the form */
}


